* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background: white;
    display:flex;

}
.memory-game{
width:600px;
height:600px;
display:flex;
margin:auto;
border:2px solid black;
flex-wrap: wrap;
perspective: 1000px;
}
.memory-card{
    width:calc(25%);
    height: calc(30%-10);
    border:2px solid aqua;
    position: relative;
    transform-style:preserve-3d;
    transition: 1s;
}
.front,
.back{
    border: 2px solid orangered;
    backface-visibility: hidden;
}

.memory-card:active{
    transform: scale(.90);
}
.memory-card.flip{
    transform: rotateY(180deg)
}

img { 
width: 100%;
height: 100%;
padding: 10px;
border-radius: 5px;
position: absolute;
}

.front{
    transform: rotateY(180deg)
}